<section id="back">
<div class="contain">
    <div class="imgBx">
        <img src="../assets/img/welcome_login.jpg" alt="">
    </div>
    <div class="loginBox">
        <h3>Log in Here</h3>
        <form>
            <div class="inputBx">
                <span><i class="fa fa-user" aria-hidden="=true"></i></span>
                <input type="text" name="" placeholder="Username">
            </div>
            <div class="inputBx">
                <span><i class="fa fa-lock" aria-hidden="=true"></i></span>
                <input type="password" name="" placeholder="Password">
            </div>
            <input type="submit" name="" value="Login">
            <a routerLink="/signup">Create an Account</a>
        </form>
    </div>
</div>
</section>
